# Ignore Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
venv/
env/

# Ignore IDE/editor configs
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db
